@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');
* {
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/2804038/pexels-photo-2804038.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  align-items: center;
}
.wrapper {
  width: 80%;
  background-color: rgba(0,0,0,0.4);
  margin: 50px auto 10px ;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 0 5px 7px whitesmoke;
}
h1{
  color: white;
  text-shadow: 2px 5px 5px red;
  margin-top:50px;
  font-size: 50px;
  border: 1px dotted;
  width: 60%;
  padding: 15px;
}
span{
  color: crimson;
  text-shadow: 2px 5px 5px white;
}
.container{
  display: flex;
  flex-direction: column;
  
}

table {
  height: 50vh;
  width: 50vh;
  margin: 15px 0;
}

td {
  background-color: transparent;
  width: calc(100% / 3);
  height: calc(100% / 3);
  font-size: 5vh;
  text-align: center;
  color: crimson;
  cursor: pointer;
  border: 3px solid white;
}

.restart {
  width: 100px;
  margin: auto;
  padding: 10px 20px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 5px solid crimson;
  font-size: 25px;
  color: white;
  
}

.winner-sign {
  
  position: absolute;
  /* padding: 20px; */
  z-index: 100;
  /* top: -40px; */
  width: 50%;
  color: white;
  border-radius: 50%;
  background-image: url('https://media0.giphy.com/media/t75mH1uC6PFjevrcPa/200w.webp?cid=ecf05e479hyuqcjnm1ou6osyb1ossaeifyum3nbh92xhw551&rid=200w.webp&ct=g');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  height: 90%;
  font-size: 50px;
  margin-top: 10px;
}
#displayStep{
  width: calc(50vh + 20px);
  background-color: transparent;
  /* margin: 25vh auto 10px; */
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  overflow: hidden;
  position: relative;

}
.some_class{
  border: 2px solid wheat;
  padding: 10px;
}
li{
  padding: 10px;
  margin:  5px;
  color: white;
  font-size: 25px;
  border: 3px solid white;
  border-radius: 5px;
}
li a{
  color: crimson;
  text-decoration: none;
}

